

*{
    font-family: 'Roboto', sans-serif;
    max-width: 1080;
    max-height: auto;
    background-color: #C5D1EB;
    
}

p{
    padding: 10px;
}

.photo{
    max-width: 200px;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    
}



header{
    padding: 0;
    margin: 0;
    border: 1px solid black;
    max-width: auto;
    display: flex;
    justify-content: space-between;
}

.bar{
    display: inline-flex;
    flex-direction: row;
    justify-self: flex-end;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    font-size: 105%;
}

.topbarelement{
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
}


.topbarelement:hover{
    text-size-adjust: 15px;
}

footer{
    max-height: auto;
    display:flex;
    border: 1px solid black;
}
.lista{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

h3{
    padding: 10px;
    text-decoration: underline;
}

.icono{
    max-width: 100px;
    padding: 150px;
    justify-items: center;

}
